body {
  display: flex;
  justify-content: center;
    font-family: Arial, sans-serif;
    background-image:url('./img/cars.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .App {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.5);
    color: black;
  }
  
